extends layout

block content
  h1= title
  p Copyright © 2017 by K. Lee (NRF-2017S1A5A2A01027326)
  p Developed by K. Lee in collaboration with S. Kwon, with the special help of Jinpil Yoo and Seongbok Hong, at Sejong University.
  br
  a(class='button' href='/upload_paper') 1. Upload exam paper
  br
  br
  a(class='button' href='/upload_feedback') 2. Upload feedback paper
  br
  br
  a(class='button' href='/start') 3. sing in
  br
  br
  a(class='button' href='/start') 4. Test start